@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;700&display=swap');

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: 100; 
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

:root {

  --bg-light-blue: #D4D5F2;

  --bs-dark-blue: #007bff;

  --bs-dark-green: #1c7f13;

  --bs-light-green: #b7fcb0;

  --bs-grey: #b9b9b9;

  --bs-white: white;

}

html {
  background-color: var(--bg-light-blue);
}
